@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$background-color: #FFFFFF;
$primary-color: #333;
$highlight-color: #DA552F;
$success-color: #54AB7D;

body {
    background: $background-color;
    font-family: "Montserrat", "Helvetica", sans-serif;
    * {
        font-family: inherit;
        box-sizing: border-box;
    }
}

.container {
    width: 600px;
    margin: auto;
    // border: 5px solid white;
    padding: 30px;
}

.header {
    text-align: center;
    margin-top: 50px;
    .logo {
        position: relative;
        width: 150px;
        margin: 30px auto;
        &:before {
            $size: 50px;

            position: absolute;
            top: -10px;
            right: -10px;

            width: $size;
            height: $size;
            display: block;

            content: "1";
            background: $highlight-color;
            border-radius: $size / 2;
            line-height: $size;
            color: #fff;
            font-size: 30px;
            font-weight: bold;
        }
    }

    h1, h2, h3 {
        color: $primary-color;
        margin: 5px 0;
        .highlight {
            color: $highlight-color;
        }
    }

    h2, h3 {
       color: lighten($primary-color, 10%);
       font-weight: normal;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 12px;
    }}

.form {
    margin-top: 30px;
    text-align: center;
    input {
        border: 0;
        font-size: 14px;
        padding: 7px;
        background: #fff;
        border: 2px solid #ddd;
        border-radius: 3px;
        -webkit-appearance: none;
        transition: all 0.15s ease-in-out;
        color: $primary-color;

        &:focus {
            outline: 0;
            border-color: $highlight-color;
        }

        &.valid {
            border-color: $success-color;
        }

        &[type="submit"] {
            font-weight: bold;
            padding: 7px 14px;
            border: 2px solid $highlight-color;
            background: #da552f;
            color: #fff;
            text-decoration: none;
            cursor: pointer;

            &[disabled="disabled"] {
                background: #ddd;
                border-color: #ddd;
            }

            &:hover:not([disabled="disabled"]) {
                border-color: #b8330d;
                box-shadow: 0px 0px 8px #da552f;
            }
        }
    }

    .success-message, .error-message {
        color: $primary-color;
        font-size: 14px;
        opacity: 0;
    }
}

.footer {
    text-align: center;
    color: $primary-color;
    font-size: 12px;
    a {
        color: darken($primary-color, 10%);
    }

    .social {
        margin: 10px 0 20px 0;
    }

}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0;
    }

    .form {
        input {
            display: block;
            width: 100%;
        }
    }
}